.btn-more {
  border: 0 !important;
  padding: 0.1rem 0.5rem 0 !important;
}

.scrobbled-item .cover {
  box-shadow: -2px 2px 4px rgba(0,0,0,0.3);
  filter: grayscale(0.3);
  max-height: 3em;
  transition: 0.1s ease-in filter;
  width: 3em;
}

.scrobbled-item:hover .cover {
  filter: grayscale(0);
  transition: 0.1s;
}

.scrobbled-item .truncate {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scrobbled-item .status-icon {
  display: block;
  position: relative;
  text-align: center;
  top: -4px;
}

.scrobbled-item.card {
  /* background: linear-gradient(#32383e 10%, #262A2F); */
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}

.scrobbled-item.card.status-error {
  border-left: 3px solid var(--red);
}

.scrobbled-item.card.status-retry,
.scrobbled-item .albumArt.fa-compact {
  color: var(--gray);
  /* opacity: 0.8; */
}

.scrobbled-item .error {
  /* background-color: rgba(255,0,0,0.2);
  border: 1px solid #3a1c1c; */
  border-radius: 4px;
  color: var(--light);
  font-size: 0.7rem;
  margin: 4px;
  margin-top: -0.8rem;
  text-align: right;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.scrobbled-item .status-icon .fa-check {
  color: var(--green);
}

.scrobbled-item .status-icon .fa-circle, .fa-times {
  color: var(--red);
}

.scrobbled-item .status-icon .fa-compact {
  color: var(--light);
}
