{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "standard",
    "react-app"
  ],
  "plugins": [],
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": false,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "16.5"
    }
  },
  "rules": {
    "comma-dangle": ["warn", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "no-console": 2,
    "react/prop-types": 1,
    "semi": [2, "never"],
    "no-extra-semi": 2,
    "space-infix-ops": 1,
    "space-before-function-paren": [2, "never"],
    "strict": [
      "error",
      "global"
    ],
    "no-unused-vars": "error",
    "prefer-const": "warn"
  }
}
