.ows-SocialNetworkBlock .jumbotron {
  padding: 1.2rem 1rem 1rem;

  .ows-logo {
    margin-top: 0.5rem;
  }

  &.ows-social-discord {
    .btn:hover,
    .btn:active {
      /* box-shadow: 0px 0px 20px  rgba(114, 137, 218, 0.4); */
      background: #454b64;
      color: white;
    }

    .btn:focus,
    .btn:focus:active {
      box-shadow: 0 0 0 0.2rem rgba(122, 144, 239, 0.5);
    }
  }

  &.ows-social-support {
    .btn:hover,
    .btn:active {
      /* box-shadow: 0px 0px 20px rgba(249, 104, 84, 0.3); */
      background: var(--bs-green, #ad8148);
      color: white;
    }

    .btn:focus,
    .btn:focus:active {
      box-shadow: 0 0 0 0.2rem rgba(39, 154, 45, 0.5);
    }
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.ows-social-support.ows-glowing {
  box-shadow: 0px 0px 16px #62c4622a;
  border-color: #62c46220;
}

.ows-social-support.ows-subscribed {
  box-shadow: 0px 0px 16px #c4629429;
  border-color: #b262c421;
}

.ows-fancy-border {
  position: relative;
  overflow: hidden;
  padding: 1px;
  border-radius: 4px;

  &::before {
    content: '';
    display: block;
    background: conic-gradient(from 0 at 50% 50%, #62c46299 0deg, #ffffff00 60deg, #ffffff00 310deg, #62c46299 360deg);
    width: calc(100% * 1.41421356237);
    padding-bottom: calc(100% * 1.41421356237);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: spin 5s linear infinite;
  }

  &:hover::before {
    background: conic-gradient(from 0 at 50% 50%, #a3f1a3 0deg, #62c46299 60deg, #62c46299 310deg, #a3f1a3 360deg);
  }

  & > .btn {
    background-color: #0c0e12df;
    z-index: 100;
    position: relative;
    // padding: calc(var(--bs-btn-padding-y) - 1px) calc(var(--bs-btn-padding-x) - 1px);
    border: 0;
    transition: all 0.4s ease-out;

    &:hover {
      background-color: #62c462;
    }
  }
}
