Label.required::after {
  content: ' *';
  color: #b00;
}

@media (max-width: 575.98px) {
  .SongForm {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.scrobble-button {
  width: 100%;
  width: calc(100% + 15px);
}

input.hasLock {
  padding-right: 2em;
}

.lock-button {
  position: relative;
  height: 1.6rem;
  top: -1.8rem;
  right: 0.15rem;
  margin-left: calc(100% - 1.5rem);
  padding: 0.1rem 0.4rem 0.1rem;
  cursor: pointer;
}

.input-with-lock {
  max-height: 1rem;
}

.fa-thumbtack {
  color: #aaaaaa;
  transition: 0.2s;
}

.fa-thumbtack.active {
  color: #333333;
  position: relative;
  transform: rotate(30deg);
}

.swaptool-top,
.swaptool-bottom {
  height: 1em;
  position: relative;
  top: 0.25rem;
}

#btn-swap {
  left: -0.15em;
  padding: 0.1em 0.2em !important;
  position: relative;
  z-index: 900; /* for mobile */
}

@media (max-width: 575.98px) {
  #btn-swap {
    /* padding: 0 !important; */
    top: 1em;
  }
}

.SongForm-PasteAlert {
  cursor: pointer;
}
