#ows-Navigation {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  border-width: 0 0 1px;
  margin-bottom: 1.5em;

  @media (max-width: 576px) {
    padding-left: 0 !important;
  }

  .nav-link,
  .navbar-brand {
    border: 0 !important;
  }

  .svg-inline--fa {
    margin-right: 0.5em;
  }

  &.ows-donor {
    border-bottom: 2px solid #b38411;
  }
}
