{% extends 'layout.twig' %}

{% block content %}
    <h2>About Open Web Scrobbler</h2>
    <p>This tool lets you scrobble songs you heard on the radio, vinyl or at some place where you need to manually scrobble.</p>
    <p>Right now this about page is just a placeholder</p>
{% endblock %}
