{% extends 'layout.twig' %}

{% block content %}
	<div class="well">
		<h2>
			<span class="glyphicon glyphicon-remove-circle"></span>
			Error {{ error_number }}
		</h2>
		<p>There's been an error processing your request.</p>
	</div>
{% endblock %}