<div class="row justify-content-center">
    <div id="scrobbling-form" class="col-md-6 col-lg-5">
        <form action="scrobble.php" id="form-manual-scrobble" class="form-scrobble form-horizontal" role="form" method="POST">
            <fieldset>
                <div class="form-group row required">
                    <label for="artist" class="col-sm-3 col-form-label">Artist</label>
                    <div class="col-sm-9">
                        <input class="form-control artist" type="text" name="artist[]" aria-label="Artist" required autofocus>
                    </div>
                </div>

                <div class="form-group row required">
                    <label for="track" class="col-sm-3 col-form-label">Track</label>
                    <div class="col-sm-9">
                        <input class="form-control track" type="text" name="track[]" aria-label="Track" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="album" class="col-sm-3 col-form-label">Album</label>
                    <div class="col-sm-9">
                        <input class="form-control album" type="text" name="album[]" aria-label="Album">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="timestamp" class="col-sm-3 col-form-label">
                        Timestamp
                    </label>
                    <div class="col-sm-9">
                        <div class="col-xs-12 timestamp-choser">
                            <div id="defer" class="btn-group btn-group-sm" role="group" aria-label="When was this listened?">
                                <label class="btn btn-secondary active"><input type="radio" name="defer" id="now-timestamp" autocomplete="off" value="0" checked>Now</label>
                                <label class="btn btn-secondary"><input type="radio" name="defer" id="custom-timestamp" autocomplete="off" value="1">Custom…</label>
                            </div>
                        </div>
                        <div id="timestamp-picker" style="display: none">
                            huj
                            <div class="col-sm-7">
                                <div class="date input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    <input type="text" name="day" placeholder="Date" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-sm-5 col-clockpicker">
                                <div class="input-group clockpicker" data-align="top" data-autoclose="true">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                    <input type="text" name="time" class="form-control" placeholder="Time" value="" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <button type="submit" class="btn btn-md btn-success btn-scrobble col" name="scrobble" aria-label="Scrobble">Scrobble!</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-6 scrobbled-tracks-container">
        <div id="scrobbled-tracks">
            <div class="placeholder text-center">
                <i class="icon-headphones"></i>
                <br>
                You haven't scrobbled any tracks yet!
            </div>
            <div class="list d-none">
                <h3 class="h4">Scrobbled tracks</h3>
                <ul>
                </ul>
            </div>
        </div>
    </div>
</div>
