<div class="row">
    <div id="scrobbling-form" class="col-sm-6 col-lg-4 col-lg-offset-1">
        <form action="scrobble.php" id="form-manual-scrobble" class="form-scrobble form-horizontal" role="form" method="POST">
            <fieldset>
                <div class="form-group required">
                    <div class="col-sm-3">
                        <label for="search">Track</label>
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control search" type="text" name="search[]" aria-label="Search" required autofocus>
                    </div>
                </div>


                <div class="form-group hidden" novalidate>
                    <div class="col-sm-3">
                        <label for="artist">Artist</label>
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control artist" type="text" name="artist[]" aria-label="Artist">
                    </div>
                </div>

                <div class="form-group hidden" novalidate>
                    <div class="col-sm-3">
                        <label for="track">Track</label>
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control track" type="text" name="track[]" aria-label="Track">
                    </div>
                </div>

                <div class="form-group hidden" novalidate>
                    <div class="col-sm-3">
                        <label for="album">Album</label>
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control album" type="text" name="album[]" aria-label="Album">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="timestamp">
                            Timestamp
                        </label>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-xs-12 timestamp-choser">
                                <div id="defer" class="btn-group btn-group-sm btn-group-justified" role="group" aria-label="When was this listened?">
                                    <label class="btn btn-default active"><input type="radio" name="defer" id="now-timestamp" autocomplete="off" value="0" checked>Now</label>
                                    <label class="btn btn-default"><input type="radio" name="defer" id="custom-timestamp" autocomplete="off" value="1">Custom…</label>
                                </div>
                            </div>
                            <div id="timestamp-picker" style="display: none;">
                                <div class="col-sm-7">
                                    <div class="date input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        <input type="text" name="day" placeholder="Date" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-clockpicker">
                                    <div class="input-group clockpicker" data-align="top" data-autoclose="true">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                        <input type="text" name="time" class="form-control" placeholder="Time" value="" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div>
                <button type="submit" class="btn btn-md btn-success btn-scrobble col-xs-12" name="scrobble" aria-label="Scrobble">Scrobble!</button>
            </div>
        </form>
    </div>
    <div id="scrobbled-tracks" class="well col-sm-6 col-lg-6">
        <div class="placeholder text-center">
            <span class="glyphicon glyphicon-headphones"></span>
            <br>
            You haven't scrobbled any tracks yet!
        </div>

        <div class="list hidden">
            <h3 class="h4">Scrobbled tracks</h3>
            <ul>
            </ul>
        </div>
    </div>
</div>
