.editable-text-input {
  min-width: 150px;
}

.editable-text-actions {
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.editable-text:hover .editable-text-actions {
  opacity: 1;
}

.editable-text-button {
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
}

.edit-button {
  /* color: var(--bs-primary) !important; */
}

.reset-button {
  color: var(--bs-secondary) !important;
}

.reset-button:hover {
  color: var(--bs-danger) !important;
}
