@media (max-width: 576px) {
  .navbar {
    padding-left: 0 !important;
  }
}

.navbar .svg-inline--fa {
  margin-right: 0.5em;
}

.navbar .nav-link,
.navbar .navbar-brand {
  border: 0 !important;
}

.navbar .username {
  color: white;
  /* font-weight: bold; */
}

.navbar .user-avatar {
  max-height: 1.2em;
  margin-right: 0.5rem;
}

.navbar .language-selector {
  list-style-type: none;
}

.navbar .language-selector a {
  color: rgba(255, 255, 255, 0.5);
}

.navbar .language-selector a:hover {
  color: white;
}

@media (min-width: 768px) {
  .navbar .user-avatar {
    max-height: 1.8em;
    margin-top: -0.6em;
    margin-bottom: -0.6em;
  }
}

.navbar.donor {
  border-bottom: 2px solid #b38411;
}

.navbar.donor .navbar-brand {
  color: #e9c15e !important;
  text-shadow: 1px 3px 4px rgba(0,0,0,0.5);
}

.navbar.donor .username {
  color: #ffd161;
}

.navbar.donor .user-avatar {
  border: 1px solid #ffd161;
}

.translationCTA {
  font-size: 0.65rem;
}
