@import "bootstrap/themes/slate/_variables.scss";
$alert-danger-bg:      #9B4745;
$alert-danger-border:  #9B4745;

$icon-font-path: '/css/fonts/';
@import "bootstrap";

body {
	min-height: 100%;
}

footer {
	text-align: center;
}

h2.welcome {
	margin-top: 0;
}

.btn-login {
	margin-top: 1em;
}

.form-scrobble {
	label {
		line-height: 2.5em;
	}
}

.form-group.required label:before { 
   content: "* ";
   color: #B00000;
}

.github-icon {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAGFBMVEUAAAD///////////////////////////8jfp1fAAAACHRSTlMA/pk63sAZbNp+KAgAAABsSURBVAjXHc0xFsIgEITh3+CjdmGxDnqBYGHtHoEqLR6C+yebKeZ9b5oBPqZvgEXOrEB3lHMoU23vKy0xIjVTE+BtT8dfkZ/jLsjDcRMsO5pSbYNgifbSLXTJLHmOcH30L1HKdTqiDzBH3OEATR0MWtvXvhUAAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	overflow: hidden;
	text-indent: 16px;
	vertical-align: middle;
	width: 16px;
}

#scrobbled-tracks {
	h3 {
		margin-top: 0;
	}

	ul {
		list-style-type: none;
	}
}

#scrobbling-form {
	transition: all 0.5s ease;
}

.user-avatar {
	max-height: 20px;
	margin-right: 0.4em;
}
