@import "bootstrap/themes/slate/_variables.scss";
$alert-danger-bg:      #9B4745;
$alert-danger-border:  #9B4745;

$icon-font-path: '/css/fonts/';
@import "bootstrap";

body {
    min-height: 100%;
}

footer {
    text-align: center;
}

h2.welcome {
    margin-top: 0;
}

.btn-login {
    margin-top: 1em;
}

.form-scrobble {
    label {
        line-height: 2.5em;
    }
}

.form-group.required label:before {
   content: "* ";
   color: #B00000;
}

.github-icon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAGFBMVEUAAAD///////////////////////////8jfp1fAAAACHRSTlMA/pk63sAZbNp+KAgAAABsSURBVAjXHc0xFsIgEITh3+CjdmGxDnqBYGHtHoEqLR6C+yebKeZ9b5oBPqZvgEXOrEB3lHMoU23vKy0xIjVTE+BtT8dfkZ/jLsjDcRMsO5pSbYNgifbSLXTJLHmOcH30L1HKdTqiDzBH3OEATR0MWtvXvhUAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    text-indent: 16px;
    vertical-align: middle;
    width: 16px;
}

@-webkit-keyframes rotatedisc {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotatedisc {
	0% {
        transform: rotate(0deg);
    }
	100% {
        transform: rotate(360deg);
    }
}

.glyphicon-cd {
    display: inline-block;
    -webkit-animation: rotatedisc .75s infinite linear;
    animation: rotatedisc .75s infinite linear;
    // cubic-bezier(0.19, 0.61, 0.73, 0.19)
}

@-webkit-keyframes appearFromTop {
    0% {
        -webkit-transform: rotateX(90deg);
    }
    100% {
        -webkit-transform: rotateX(0deg);
    }
}

@keyframes appearFromTop {
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.glyphicon-ok {
    -webkit-animation: appearFromTop .5s ease-in;
    animation: rotatedisc .75s ease-in;
    // cubic-bezier(0.19, 0.61, 0.73, 0.19)
}

#scrobbled-tracks {
	min-height: 12em;
	transition: all 0.4s cubic-bezier(0, 0.98, 0.57, 1);

    // Maybe limit its max height on large screens? (keep h3 always visible!)
    // max-height: 30em;
    // overflow-y: auto;

    h3 {
        margin-top: 0;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            line-height: 1.8em;

            .toolbox {
                transition: all 0.4s ease-in-out;
                opacity: 0.6;
            }
        }

        li:hover {
            .toolbox {
                opacity: 1;
            }
        }

        .status {
        	margin-right: 0.5em;
        }
    }

    .placeholder {
    	color: mix($text-color, $well-bg, 25%);
    	font-weight: bold;
        margin-top: 1em;

        .glyphicon-headphones {
            font-size: 5em;
            margin-bottom: 8px;
        }
    }
}

#scrobbling-form {
    transition: all 0.5s ease;
}

.user-avatar {
    max-height: 20px;
    margin-right: 0.4em;
}
