@import "bootstrap";

.form-group.required label:after {
   content: " *";
   color: #B00000;
}

@-webkit-keyframes rotatedisc {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotatedisc {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.icon-cd {
    display: inline-block;
    -webkit-animation: rotatedisc .75s infinite linear;
    animation: rotatedisc .75s infinite linear;
    // cubic-bezier(0.19, 0.61, 0.73, 0.19)
}

@-webkit-keyframes appearFromTop {
    0% {
        -webkit-transform: rotateX(90deg);
    }
    100% {
        -webkit-transform: rotateX(0deg);
    }
}

@keyframes appearFromTop {
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.icon-ok {
    -webkit-animation: appearFromTop .5s ease-in;
    animation: rotatedisc .75s ease-in;
    // cubic-bezier(0.19, 0.61, 0.73, 0.19)
}

@include media-breakpoint-up(lg) {
    .col-clockpicker {
        padding-left: 0;
    }
}

.clockpicker-popover {
    .popover-header {
        //background-color: #fff;
        //color: #999;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
    }
}

.well {
    background-color: #1c1e22;
    border: 1px solid #0c0d0e;
    border-radius: 4px;
    padding: 15px;
}
#scrobbled-tracks {
    min-height: 12em;
    transition: all 0.4s cubic-bezier(0, 0.98, 0.57, 1);
    background-color: #1c1e22;
    border: 1px solid #0c0d0e;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;

    // Maybe limit its max height on large screens? (keep h3 always visible!)
    // max-height: 30em;
    // overflow-y: auto;

    h4 {
        margin-top: 0;
    }

    .list {
    }

    .placeholder {
        color: mix($body-color, #1c1e22, 25%);
        font-weight: bold;
        margin-top: -0.4em;

        .icon-headphones {
            font-size: 5em;
            margin-bottom: 8px;
        }
    }
}

#scrobbled-tracks-list {
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .details {
            flex: 0 1 auto;
            .status {
                margin-right: 10px;
            }
        }
        .toolbox {
            flex: 0 0 auto;
            margin-left: 10px;
        }
    }
}

#scrobbling-form {
    transition: all 0.5s ease;
}

.user-avatar {
    max-height: 20px;
    margin-right: 0.4em;
    border-radius: 50%;
}

.btn-scrobble {
    margin: 0 15px 0 15px;
}

label[for="timestamp"] {
    padding-bottom: 0;
}
#defer {
    width: 100%;
    input[type="radio"] {
        display: none;
    }
    label {
        width: 50%;
        margin-bottom: 0;
    }
}

#timestamp-picker {
     > div {
        margin-top: 0.5em;
    }

    .form-control[readonly] {
        cursor: pointer;
        background-color: $input-bg;
    }

    .input-group-text {
        padding-right: 8px;
        padding-left: 8px;
    }
}
