Options -Indexes
Options +FollowSymlinks

ErrorDocument 403 /error.php?e=403
ErrorDocument 404 /error.php?e=404
ErrorDocument 500 /error.php?e=500

RewriteEngine On

# Deny access to vendor folder
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^vendor.* [R=403,NC,L]
RewriteRule ^views.* [R=403,NC,L]
RewriteRule ^inc.* [R=403,NC,L]

# Route fancy URLs through index.php
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$ index.php?dest=$1 [L,QSA]
