html, body {
  height: 100%;
}

body {
  background-color: #272B30;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body.with-shadow {
    background: #272B30 linear-gradient(#0c0c0c, #272B30);
    background-repeat: no-repeat;
}

/* .ows-color {
  color: #85ba36 !important;
} */

.ows-title {
  color: white;
  display: inline-block;
}

.album-heading-album-name {
  color: var(--white);
}

/* same as .card */
.alert-dark {
  background-color: #32383e !important;
}

.app-version {
  cursor: default;
  opacity: 0.5;
  transition: 0.5s;
}

.app-version:hover {
  opacity: 1;
}

.alert-link, .nav-link {
  cursor: pointer;
}

.breadcrumb {
  margin-bottom: 0;
}

.btn-clear {
  height: 1.8rem;
}

/* Use a prettier red for the danger button hover */
.btn-danger:not([disabled]):not(.disabled):hover,
.btn-danger:not([disabled]):not(.disabled):focus,
.btn-danger:not([disabled]):not(.disabled):active,
.btn-danger:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(#cb4141, #b90000 40%, #890000) !important;
}

.buttonize {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  background-color: rgba(255,255,255,0.1);
}

.donation-cta {
  color: var(--gray);
  font-size: 0.9em;
  margin-bottom: 1em;
  text-align: center;
}

.donation-cta a {
  color: var(--gray);
  text-decoration: underline;
}

.donation-cta .fa-patreon {
  font-size: 0.8em;
  margin-left: 0.5em;
}

.fa-question-circle {
  cursor: pointer;
  font-size: 1.2rem;
}

.fa-question-circle:hover {
  color: var(--light);
}

.HomeButtons a {
  white-space: normal;
}

.HomeButtons svg {
  opacity: 0.5;
}

.HomeButtons:hover svg {
  opacity: 0.7;
}

.jumbotron.alternative-content {
  padding: 1.2rem 1rem 1rem;
}

.jumbotron.alternative-content.discord .btn:hover,
.jumbotron.alternative-content.discord .btn:active {
  /* box-shadow: 0px 0px 20px  rgba(114, 137, 218, 0.4); */
  background: #454b64;
  color: white;
}

.jumbotron.alternative-content.discord .btn:focus,
.jumbotron.alternative-content.discord .btn:focus:active {
  box-shadow: 0 0 0 0.2rem rgba(122, 144, 239, 0.5);
}

.jumbotron.alternative-content.patreon .btn:hover,
.jumbotron.alternative-content.patreon .btn:active {
  /* box-shadow: 0px 0px 20px rgba(249, 104, 84, 0.3); */
  background: #ad8148;
  color: white;
}

.jumbotron.alternative-content.patreon .btn:focus,
.jumbotron.alternative-content.patreon .btn:focus:active {
  box-shadow: 0 0 0 0.2rem rgba(154, 87, 39, 0.5);
}

.jumbotron.alternative-content .logo {
  margin-top: 0.5rem;
}

/* ToDo: improve selection highlighting for albums and artists */
.listOfAlbums > a:focus {
    outline: none;
}

.navbar.navbar-dark {
  box-shadow: 0 3px 4px rgba(0,0,0,0.3);
  margin-bottom: 1.5em;
}

.SongFormLists-container .nav-tabs {
  border-color: rgba(11, 14, 17, 0.55);
}

.SongFormLists-container .nav-tabs .nav-item {
  margin-right: 2px;
}

.SongFormLists-container .nav-tabs .nav-link.active,
.SongFormLists-container .nav-tabs .nav-item.show .nav-link {
  background-color: #181b1f;
  border-color: rgba(11, 14, 17, 0.55);
}

.SongFormLists-container .nav-tabs .nav-link:hover,
.SongFormLists-container .nav-tabs .nav-link:focus {
  color: white;
  border-color: rgba(11, 14, 17, 0.55);
}

@media (min-width: 768px) {
  .SongForm-container h2 {
    margin-top: -1rem;
  }

  .SongFormLists-container {
    margin-top: -1rem;
  }
  .ScrobbleList-container {
    padding-right: 0.5rem;
    min-height: 10rem;
    max-height: 70vh;
    overflow-y: auto;
  }

  .ScrobbleList-container.with-gradient {
    max-height: 62vh;
    max-height: calc(100vh - 420px); /* Experimental */
  }
}

.ScrobbleList-container.with-gradient {
  background: linear-gradient(#161619, transparent 40%);
  border: 1px solid rgba(0,0,0,0.2);
  border-bottom-left-radius: 4px;
  border-top: none;
}

.recent-users li {
  cursor: pointer;
}
