html,
body {
  height: 100%;
}

body {
  background-color: #272b30;
  margin: 0;
  padding: 0 !important;
  font-family: sans-serif;
}

/* .ows-color {
  color: #85ba36 !important;
} */

#ows-loading {
  width: 100vw;
  height: 100vh;
  background-color: #181b1f;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

.collection-heading-collection-name {
  color: var(--bs-white);
}

/* same as .card */
.alert-dark {
  background-color: #32383e !important;
}

.app-version {
  cursor: default;
  opacity: 0.5;
  transition: 0.5s;
}

.app-version:hover {
  opacity: 1;
}

.alert-link,
.nav-link {
  cursor: pointer;
}

.breadcrumb {
  margin-bottom: 0;
}

.btn-clear {
  height: 1.8rem;
}

/* Use a prettier red for the danger button hover */
.btn-danger:not([disabled]):not(.disabled):hover,
.btn-danger:not([disabled]):not(.disabled):focus,
.btn-danger:not([disabled]):not(.disabled):active,
.btn-danger:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(#cb4141, #b90000 40%, #890000) !important;
}

.buttonize {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.donation-cta {
  color: var(--bs-gray);
  font-size: 0.9em;
  margin-bottom: 1em;
  text-align: center;
}

.donation-cta a {
  color: var(--bs-gray);
  text-decoration: underline;
}

.donation-cta .fa-heart {
  font-size: 0.8em;
  margin-left: 0.5em;
}

.fa-question-circle {
  cursor: pointer;
  font-size: 1.2rem;
}

.fa-question-circle:hover {
  color: var(--bs-light);
}

.jumbotron {
  border: 1px solid rgba(0, 0, 0, 0.6);
  background-color: #1c1e22;
  margin-bottom: 2rem;
}

/* ToDo: improve selection highlighting for albums and artists */
.listOfAlbums a:focus {
  outline: none;
}

.SongFormLists-container .nav-tabs {
  border-color: rgba(11, 14, 17, 0.55);
}

.SongFormLists-container .nav-tabs .nav-item {
  margin-right: 2px;
}

.SongFormLists-container .nav-tabs .nav-link.active,
.SongFormLists-container .nav-tabs .nav-item.show .nav-link {
  background-color: #181b1f;
  border-color: rgba(11, 14, 17, 0.55);
}

.SongFormLists-container .nav-tabs .nav-link:hover,
.SongFormLists-container .nav-tabs .nav-link:focus {
  color: white;
  border-color: rgba(11, 14, 17, 0.55);
}

@media (min-width: 768px) {
  .SongForm-container h2 {
    margin-top: -1rem;
  }

  .SongFormLists-container {
    margin-top: -1rem;
  }

  .ScrobbleList-container {
    min-height: 10rem;
    max-height: 70vh;
    overflow-y: auto;
  }

  .ScrobbleList-container .jumbotron {
    border-top: 0;
    margin-left: 1px;
    margin-right: 1px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  .ScrobbleList-container.with-gradient {
    /* FIXME: In an alternate universe Batman's parents are alive but his origin story begins with this CSS block */
    max-height: 62vh;
    max-height: calc(100vh - 5em - 420px);
  }
}

.ScrobbleList-container.with-gradient {
  background: linear-gradient(#161619, transparent 40%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-top: none;
}

.recent-users li {
  cursor: pointer;
}

.w-auto {
  width: auto !important;
}
